.topBar{
   -fx-background-color: #4682B4;
}

.box-login {
    -fx-background-color: rgba(63, 127, 191, 0.7);
    -fx-border-color: transparent;
    -fx-animation-glow: 10s ease infinite forwards;
}

.box-dashboard {
    -fx-background-color: rgba(0,0,102,0.1);
    -fx-border-color: transparent;
    -fx-animation-glow: 10s ease infinite forwards;
}

.button
{
-fx-background-color : transparent;
-fx-text-fill : #ecf0f1;
}
.button:hover{
-fx-background-color : #63ace5;
-fx-text-fill: white;
}
.button:pressed
{
-fx-background-color : #0dc5ee;
-fx-text-fill: white;
}
.selected{
-fx-background-color : #0dc5ee;
-fx-text-fill: white;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.sidepanel{
   -fx-background-color: transparent;
   -fx-background-position: top;
   -fx-background-repeat: no-repeat;
   -fx-background-size: 100% 100%;

}